section.advantages 
    .container 
        .advantages-row 
            .advantage.advantage--professional
                .title Профессионально
                .description Обеспечиваем бесперебойную работу оборудования

            .advantage.advantage--profit
                .title Выгодно
                .description Снижаем затраты на оборудование

            .advantage.advantage--safely
                .title Надежно
                .description Исключаем потерю ваших данных

            .advantage.advantage--securely
                .title Безопасно
                .description Гарантируем защиту доступа к вашим данным
