section.best-offers
    .offers-tags
        .container 
            .section-title Лучшие предложения

            .tags-wrap
                ul.tags
                    li.tag.js__tag(data-section-id="0") Для бизнеса
                    li.tag.js__tag(data-section-id="0") Для банков
                    li.tag.js__tag(data-section-id="0") Для частных клиентов
                    li.tag.js__tag(data-section-id="0") Решения и сервисы

                .btn.btn--calculator Калькулятор услуг

    .offers-carousel 
        .container
            .offers-slider-wrap.js__offers-slider
                .slider
                    .slide
                        .title Автоматизированные системы управленческого и бухучета
                        .description Бесперебойное обеспечение работы всей IT инфраструктуры
                    .slide
                        .title Видеоконференцсвязь
                        .description Бесперебойное обеспечение работы всей IT инфраструктуры
                    .slide
                        .title Корпоративная почта 
                        .description Бесперебойное обеспечение работы всей IT инфраструктуры
                .controls
                .links 
                    .btn.btn--blue.btn--all-services Все услуги