section.promo
    .container 
        .promo_box
            .promo-slider-wrap.js__promo-slider
                .slider
                    .slide(style="background-image:url(/images/promo-slide-01.jpg)")
                    .slide(style="background-image:url(/images/promo-slide-01.jpg)")
                    .slide(style="background-image:url(/images/promo-slide-01.jpg)")
                .controls

            .promo_aside
                a.banner.banner-calc(href="#")
                    img.banner-bg(src="/images/banner-calc.png")
                    .banner-title Калькулятор
                    .banner-subtitle просто посчитай
                
                a.banner.banner-tariffs(href="#")
                    .banner-title Тарифы