header 
	.container 
		.top-menu 
			.offices.js__offices Офисы обслуживания
			a.email(href="mailto:AskMe@navigatorcompany.ru") AskMe@navigatorcompany.ru
			a.phone(href="tel:79999999999") +7 812 622-16-16
			.search-btn.js__search-btn
				img(src="/images/icon-search.svg" alt="поиск")
		.bottom-menu 
			a.logo(href="/")
				img(src="/images/logo.png" alt="Логотип NVC-it" title="NVC-it")

			nav.menu
				ul.menu_list 
					li.menu_item
						a.menu_link(href="#") Услуги
					li.menu_item
						a.menu_link(href="#") Отрасли
					li.menu_item
						a.menu_link(href="#") Акции
					li.menu_item
						a.menu_link(href="#") Проекты
					li.menu_item
						a.menu_link(href="#") О компании
					li.menu_item
						a.menu_link(href="#") Блог

			.callback
				.btn.btn--green.js__callback Оставить заявку